/**
 * Typically loaded through the Theme, in Grooa3/assets/less/SocialShare.less.
 * If this is not present, use Event.php->ipBeforeController() to load this stylesheet
 */
.socialshare {
    box-sizing: border-box;

    display: flex;

    justify-content: center;

    list-style-type: none;

    margin: auto auto;
    max-width: 40em;

    padding: 0 1em .5em;

    width: 100%;
}

.socialshare > li {
    margin: 0;
}

.socialshare > li~li { /* Ensure spacing between elements */
    margin-left: .5em;
}

.socialshare a, .socialshare a > svg {
    height: 30px;
}

.socialshare a {
    background-color: #AAA;

    display: block;

    height: 30px;

    padding: .5em 5em .5em .5em;

    transition: all .2s ease;
}

.socialshare svg path {
    fill: #FFF;
}

a.share-facebook {
    background-color: #3b5998;
}

a.share-facebook:hover {
    background-color: #314A7E;
}

a.share-linkedin {
    background-color: #3A96C2;
}

a.share-linkedin:hover {
    background-color: #007BB6;
}

